
.block {
    width: 50vw;
    height: 400px;
    color: green;
    margin: 10px;
}

.html {
    vertical-align: top;
}

#flex {
    display: flex;
    width: 100vw;
    height: 400px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

textarea { font-size: 18px; }